*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 120px;
    background-color: rgb(42, 42, 42);
    padding-top: 5px;
}

#searchBar{
    width: 50%;
    text-align: center;
    margin-top: 20px;
}

#categorias{
    color: white
}

#categorias ul{
    width: 70%;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
}

#categorias ul li{
    width: 20%;
    height: inherit;
    list-style: none;
    float: left; 
    font-family: arial;
    font-size: 1.0em;
    text-align: center;
    padding-top: 25px;
    letter-spacing: 1px;
}

#categorias ul li:hover{
    cursor: pointer;
}

.titulo{

}
